<nav id="nav">

    <div id="nav-left">
        <img id="hamburger" src="img/whamburger.png" onclick="openNav()">
        <img id="logo" src="img/logo.png">
    </div>
    <div id="nav-center">
        <a><img src="img/cross.png" id="cross" onclick="closeNav()"></a>
        <a href="/" class="link">Accueil</a>
        <a href="/informations" class="link">Informations</a>
        <a href="/register" class="link">Inscription</a>
        <a href="/contact" class="link">Contact</a>
    </div>
    <div id="nav-right">
        <a id="login" href="/login">Connexion</a>               <!-- Redirect to login and there will be a small link to register -->
        <a href="/login"><img id="log" src="img/wlog.png"></a> <!-- Redirect to Profile page if connected -->
    </div>
</nav>