<!DOCTYPE html>
<html lang = "en">

<head>
    <link href="../public/css/style.css" rel="stylesheet">
    <title>Projet JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>


<body>
    <nav>
        <div id="nav-left">
            <img id = "hamburger" src = "../public/img/hamburger.png" onclick = "openNav()">
            <img id = "logo" src = "../public/img/logo.png" >
        </div>
        <div id = "nav-center">
            <a><img src = "../public/img/cross.png" id = "cross" onclick = "closeNav()"></a>
            <a href = "#" class = "link">Mon espace</a>
            <a href = "#" class = "link">Evaluation</a>
            <a href = "#" class = "link">Ressources</a>
            <a href = "#" class = "link">Nous contacter</a>
        </div>
        <ul id="nav-right">
            <li><a href = "register.html">Inscription</a></li>
            <li><a href = "login.html">Connexion</a></li>
            <img id = "log" src = "../public/img/log.png">
        </ul>
    </nav>
    
    <div class = "wrapper">
        <div id = "welcome" class = "wrapper">
            <div id = "logo-welcome">
                <img src = "../public/img/logo.png" id = "logo-main">
                <h1>Bienvenue sur notre plateforme</h1>
            </div>
        </div>
    </div>


    <script src = "../public/js/animations.js"></script>
</body>
</html>