<!DOCTYPE html>
<html lang = "en">

<head>
    <%-include("../partials/head.ejs"); %>
</head>

<body>
    <%-include("../partials/navbar-connected.ejs"); %>
    <h1>Désolé, la page est en construction !</h1>

    <script src ="js/animations.js"></script>
</body>

</html>