<!DOCTYPE html>
<html lang = "en">

<head>
    <%-include("../partials/head.ejs"); %>
</head>


<body>
    <%-include("../partials/navbar", {utilisateur:utilisateur}); %>
    <div id = "main" class = "wrapper">
        <div id = "welcome" class = "wrapper">
            <div class = "parent-image" id = "preview-parent0">
                <div class = "main-page-image" id = "main-img1"></div>
            </div>
            <h1>Bienvenue</h1>
            <span class = "line" id = "welcome-line"></span>
            <h2 class = "welcome-text1"><span class = "highlight-yellow">Consultez</span> et <span class = "highlight-yellow">suivez</span> l'évolution de votre condition physique à <span class = "highlight-orange underlined">tout instant.</span></h2>
            <p class = "welcome-text2">Faites vos premiers pas et laissez-vous guider par notre <span class= "highlight-blue">intelligence artificielle</span> qui proposera un <span class = "highlight-blue underlined">programme adapté</span> après une première évaluation.</p>

            <a href = "/register" id = "get-started" class = "button-dark">Commençons !</a> <!-- Redirect to login / register page -->
        </div>
        <span class = "line"></span>
        <div id = "preview1" class = wrapper>
            <div class = "parent-image" id = "preview-parent1">
                <div class = "main-page-image" id = "main-img2"></div>    
            </div>
            <h2 id = "preview-text1">Un service <span class = "highlight-yellow">adapatatif</span> à vos besoins</h2>
        </div>
        <div id = "preview2" class = wrapper>
            <h2 id = "preview-text2">Vous voulez plus d'informations ? Renseignez-vous sur notre application !</h2>
            <a href = "/informations" class = "button-dark">Informations</a>
        </div>
    </div>

    <%-include("../partials/footer"); %>
    <script src = "js/animations.js"></script>
</body>
</html>