<!DOCTYPE html>
<html lang = "en">

<head>
    <%-include("../partials/head.ejs"); %>
</head>


<body>
    <%-include("../partials/navbar.ejs"); %>

    <div id = "main" class = "wrapper">
        <div id = "welcome" class = "wrapper">
            <img src = "img/logo.png" id = "logo-main">
            <span class = "line" id = "welcome-line"></span>
            <h1>Bienvenue sur notre plateforme</h1>
            <span class = "line" id = "welcome-line"></span>
            <h2 class = "welcome-text1"><span class = "highlight-green">Consultez</span> et <span class = "highlight-green">suivez</span> l'évolution de votre condition physique à <span class = "highlight-green underlined">tout instant.</span></h2>
            <p class = "welcome-text2">Faites vos premiers pas et laissez-vous guider par notre <span class= "highlight-blue">intelligence artificielle</span> qui proposera un <span class = "highlight-blue underlined">programme adapté</span> après une première évaluation.</p>

            <a href = "/login" id = "get-started">Commençons !</a> <!-- Redirect to login / register page -->
        </div>
        <span class = "line"></span>
        <div id = "preview1" class = wrapper>
            <img src = "img/preview1.png">
            <h2>Un service personnalisé et adapatatif à vos besoins</h2>
        </div>
    </div>


    <script src = "js/animations.js"></script>
</body>
</html>