<!DOCTYPE html>
<html lang = "en">

<head>
    <%-include("../partials/head.ejs"); %>
</head>


<body>
    <%-include("../partials/navbar.ejs"); %>
    <div id = "login-main" class = "wrapper">
        <h1>Connexion</h1>
        <div id = "login-wrapper">
            <form id = "login-form">
                <label for = "email">Email</label>
                <div class = "row-input">
                    <input id = "email" type = "email">
                </div>                
                <label for = "password">Mot de passe</label>
                <div class = "row-input">
                    <input id = "password" type = "password"><img id = "eye" class = "button-yellow" src = "img/closed-eye.png" onclick = "showWrittenPassword()">
                </div>
                <div class = "button-yellow" onclick = "checkUserConnect()">Se connecter</div> <!-- Function to link with backend -->
            </form>
            <div class = "center-right"><a href = "/register">Pas de compte ?</a></div>
        </div>
    </div>


    <script src = "js/animations.js"></script>
    <script src = "js/connect.js"></script>
</body>
</html>