<!DOCTYPE html>
<html lang = "en">

<head>
    <%-include("../partials/head.ejs"); %>
</head>


<body>
    <%-include("../partials/navbar.ejs"); %>
    <div id = "register-main" class = "wrapper">
        <h1>Inscription</h1>
        <div id = "login-wrapper">
            <form id = "login-form">
                <label for = "username">Nom *</label>
                <div class = "row-input">
                    <input id = "username" type = "text">
                </div> 
                <label for = "email">Email *</label>
                <div class = "row-input">
                    <input id = "email" type = "email">
                </div>                
                <label for = "password">Mot de passe *</label>
                <div class = "row-input">
                    <input id = "password" type = "password"><img id = "eye" class = "button-yellow" src = "img/closed-eye.png" onclick = "showWrittenPassword()">
                </div>
                <label for = "repeat-password">Répétez le mot de passe *</label>
                <div class = "row-input">
                    <input id = "repeat-password" type = "password">
                </div>
                <div class = "button-yellow" onclick = "checkAddUser()">S'inscrire</div> <!-- Function to link with backend -->
            </form>
            <div class = "center-right"><a href = "/login">Vous avez déjà un compte ?</a></div>
        </div>
    </div>


    <script src = "js/animations.js"></script>
    <script src = "js/register.js"></script>
</body>
</html>